/* FONTS */

.decor-regular {
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0.9;
}

/* MAIN */

.error {
    @apply text-sm text-red-700
}

.container {
    @apply max-w-5xl mx-auto
}


/* TAGS */
.tag {
    @apply flex w-fit items-center gap-2 text-nowrap bg-orange-700/10 px-4 py-1 rounded-2xl text-sm text-orange-900 hover:backdrop-brightness-90 cursor-pointer
}

.tag--active {
    @apply bg-orange-700/70 text-orange-100
}

.tag--secondary {
    @apply bg-orange-700/5 text-orange-900/60
}

.tag--active.tag--secondary {
    @apply bg-orange-700/20 text-orange-900/80
}

.tag svg {
    @apply fill-red-500
}



.label {
    @apply text-sm text-gray-400;
}


/* INPUTS */

.input,
.textarea {
    @apply p-3 bg-gray-200 rounded-md outline-0 text-orange-950
}

.input--invisible {
    @apply px-2 py-1 bg-inherit
}



/* BUTTONS */
.button {
    @apply bg-orange-700/70 hover:backdrop-brightness-90 px-4 py-2 md:px-3 md:py-1 w-fit rounded-md text-sm font-semibold cursor-pointer text-orange-50 active:scale-95
}

.button--big {
    @apply w-20 h-13
}


nav>span>button, nav>span span {
    @apply text-sm bg-orange-700/70 border-0 text-orange-50
}


/* TEXT-EDITOR */
.rich-editor p {
    @apply py-1
}

.rich-editor blockquote {
    @apply border-l-3 border-orange-700 pl-3 py-1
}

.rich-editor ul {
    @apply list-disc ml-6
}

.rich-editor ol {
    @apply list-decimal ml-6
}
